<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
	<div th:fragment="shared-footer">
		<footer class="footer">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 footer_col">
						<div class="footer_column footer_contact">
							<div class="logo_container">
								<div class="logo">
									<a href="/"><img src="/others/images/logo.png" alt=""></a>
								</div>
							</div>
							<div class="footer_title">Got Questions? Contact Us:</div>
							<div class="footer_phone">+91 9876543210</div>
							<div class="footer_contact_text">
								<p>A B C Road, Gurgaon</p>
								<p>India</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 offset-lg-2">
						<div class="footer_column">
							<div class="footer_title">Quick Links</div>
							<ul class="footer_list">
								<li><a href="#">Computers & Laptops</a></li>
								<li><a href="#">Cameras & Photos</a></li>
								<li><a href="#">Smartphones & Tablets</a></li>
								<li><a href="#">TV & Audio</a></li>
								<li><a href="#">Gadgets</a></li>
								<li><a href="#">Video Games & Consoles</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2">
						<div class="footer_column">
							<div class="footer_title">Brands</div>
							<ul class="footer_list">
								<li><a href="#">Apple</a></li>
								<li><a href="#">Samsung</a></li>
								<li><a href="#">Dell</a></li>
								<li><a href="#">Nikon</a></li>
								<li><a href="#">Xiaomi</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2">
						<div class="footer_column">
							<div class="footer_title">Customer Care</div>
							<ul class="footer_list">
								<li><a href="#">My Account</a></li>
								<li><a href="#">Queries</a></li>
								<li><a href="#">Customer Services</a></li>
								<li><a href="#">Returns / Exchange</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</footer>
	</div>
</body>
</html>