<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: shared-header"></head>
<body
	style="background-image: url(/others/images/banner_2_background.jpg); min-height: 480px; background-repeat: round; background-attachment: fixed; background-size: auto;">

	<div th:replace="common/header::navbar"></div>

	<div class="container" style="margin-bottom: 20px;">
		<h1 style="text-align: center;">The Product List is as:</h1>

		<div class="table-responsive">
			<table id="productListTable"
				class="table table-bordered table-hover table-stripped"
				style="box-shadow: 12px 0px 14px 0 #212529; background-color: mintcream;">
				<thead>
					<tr style="text-align: center;">
						<th>Title</th>
						<th>Category</th>
						<th>Brand</th>
						<th>List Price</th>
						<th>Our Price</th>
						<th>Active</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="product: ${productList}"
						style="text-align: center;">
						<td><a th:href="@{/product/productInfo(id=${product.id})}"><b><span
									th:text="${product.title}"></span></b></a></td>
						<td th:text="${product.category}"></td>
						<td th:text="${product.brand}"></td>
						<td th:text="${product.listPrice}"></td>
						<td th:text="${product.ourPrice}"></td>
						<td th:text="${product.active}"></td>
						<td><a th:href="@{/product/deleteProduct(id=${product.id})}" style="text-decoration: none;"><i
								class="fas fa-trash-alt"></i>
								<button type="button" class="btn btn-danger">Delete</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:replace="common/footer :: shared-footer"></div>

	</div>


	<div th:replace="common/header:: bottom-scripts"></div>

	<script>
		$(document).ready(function() {
			$('#productListTable').DataTable()
		});
	</script>

</body>
</html>
