<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="shared-header">
<title>SWAGTECH-ADMIN</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="SwagTech project" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" />

</head>

<body>

	<div th:fragment="navbar">

		<!-- Header -->

		<header class="header">

			<!-- Header Main -->

			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="/"><img
						src="/others/images/logo.png" alt=""><br /> <b>ADMIN
							PORTAL</b></a>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
								role="button" data-toggle="dropdown" style="color: black;">
									Controls </a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#">Add a new product</a> <a
										class="dropdown-item" href="#">View products</a>
								</div></li>
						</ul>

						<button type="button" class="btn btn-success"
							style="float: right;">Sign Out</button>

					</div>
				</nav>
			</div>

		</header>

	</div>

	<div th:fragment="bottom-scripts">

		<script th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	</div>
</body>
</html>