<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: shared-header">
</head>

<body>

	<div class="super_container">

		<!-- Header -->
		<div th:replace="common/header :: main-header"></div>

		<div class="container-fluid"
			style="background-image: url(/others/images/banner_2_background.jpg); min-height: 500px; background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover;">
			<div style="padding-top: 20px; padding-bottom: 20px;">
				<form th:action="@{/checkout}" method="post">
					<div class="row">
						<!-- Left Panel -->
						<div class="col-11 offset-1 col-sm-4 col-md-4 col-lg-4">
							<div class="panel panel-default" style="margin-top: 50px;">
								<div class="panel-body"
									style="border: 4px solid #007bff; border-radius: 25px; padding: 10px; box-shadow: 2px 30px 40px 0 #212529;">
									<h3>Order Summary</h3>
									<div class="row">
										<div class="col-7 text-left">Total before tax:</div>
										<div class="col-5 text-right">
											₹<span
												th:text="${#numbers.formatDecimal(shoppingCart.grandTotal, 0, 'COMMA', 2, 'POINT')}"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-7 text-left">Estimated tax:</div>
										<div class="col-5 text-right">
											₹<span th:with="tax=${shoppingCart.grandTotal*0.06}"
												th:text="${#numbers.formatDecimal(tax, 0, 'COMMA', 2, 'POINT')}"></span>
										</div>
									</div>
									<hr
										style="height: 2px; border: none; color: #333; background-color: #333;" />
									<div class="row">
										<div class="col-5 col-sm-6 col-md-6 col-lg-6 text-left">
											<h3 style="color: darkred;">
												<strong>Order Total: </strong>
											</h3>
										</div>
										<div class="col-5 col-sm-6 col-md-6 col-lg-6 text-right">
											<h3>
												<strong style="color: darkred;">₹<span
													th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
													th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"></span></strong>
											</h3>
										</div>
									</div>
									<div class="panel-footer">Shipping and handling aren't
										applied.</div>
									<button type="submit" class="btn btn-warning btn-block">Place
										your order</button>
									<p style="font-size: smaller; text-align: center;">
										By placing your order, you agree to SwagTech's <a href="#">privacy</a>
										notice and <a href="#">conditions</a> of use.
									</p>
								</div>
							</div>
						</div>


						<!-- Checkout Info column-2 -->
						<div
							class="col-11 offset-1 col-sm-7 col-md-7 col-lg-7 offset-sm-0 offset-md-0 offset-lg-0">
							<div th:if="${missingRequiredField}">
								<h5 class="alert alert-warning">There are some fields
									missing. Field with * is required.</h5>
							</div>

							<div class="panel-group" id="accordion">

								<!-- 1. Shipping Address -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" href="#shippingInfo">
												<button type="button" class="btn btn-primary btn-sm">1.
													Shipping Address</button>
											</a>
										</h4>
									</div>
									<div id="shippingInfo" class="collapse show"
										data-parent="#accordion"
										th:classappend="${classActiveShipping}? 'show active'">
										<div class="panel-body"
											style="border: 4px solid #007bff; border-radius: 25px; box-shadow: 2px 30px 40px 0 #212529; padding: 10px; width: 90%;">
											<table class="table" th:if="${not emptyShippingList}">
												<thead>
													<tr>
														<th>Available Shipping Address</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userShipping : ${userShippingList}">
														<td
															th:text="${userShipping.userShippingStreet1}+' '+${userShipping.userShippingStreet2}+', '+${userShipping.userShippingCity}
												+', '+${userShipping.userShippingState}"></td>
														<td><a
															th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">use
																this address</a></td>
													</tr>
												</tbody>
											</table>

											<div class="form-group">
												<label for="shippingName">* Name</label> <input type="text"
													class="form-control" id="shippingName"
													placeholder="Receiver Name" name="shippingAddressName"
													required="required"
													th:value="${shippingAddress.shippingAddressName}" />
											</div>

											<div class="form-group">
												<label for="shippingStreet">* Street Address</label> <input
													type="text" class="form-control" id="shippingStreet"
													placeholder="Street Address 1"
													name="shippingAddressStreet1" required="required"
													th:value="${shippingAddress.shippingAddressStreet1}" />
											</div>
											<div class="form-group">
												<input type="text" class="form-control"
													placeholder="Street Address 2"
													name="shippingAddressStreet2" required="required"
													th:value="${shippingAddress.shippingAddressStreet2}" />
											</div>

											<div class="row">
												<div class="col-4">
													<div class="form-group">
														<label for="shippingCity">* City</label> <input
															type="text" class="form-control" id="shippingCity"
															placeholder="Shipping City" th:name="shippingAddressCity"
															required="required"
															th:value="${shippingAddress.shippingAddressCity}" />
													</div>
												</div>
												<div class="col-4">
													<div class="form-group">
														<label for="shippingState">* State</label> <select
															id="shippingState" class="form-control-custom"
															th:name="shippingAddressState"
															th:value="${shippingAddress.shippingAddressState}"
															required="required">
															<option value="" disabled="disabled">Please
																select an option</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${shippingAddress.shippingAddressState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-4">
													<div class="form-group">
														<label for="shippingZipcode">* Zipcode</label> <input
															oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
															type="number" maxlength="6" class="form-control"
															id="shippingZipcode" placeholder="Shipping Zipcode"
															th:name="shippingAddressZipcode" required="required"
															th:value="${shippingAddress.shippingAddressZipcode}" />
													</div>
												</div>
											</div>
											<a data-toggle="collapse" class="btn btn-warning btn-sm"
												href="#paymentInfo">Next</a>
										</div>
									</div>
								</div>

								<!-- Payment Information -->
								<div class="panel panel-default" style="margin-top: 10px;">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" href="#paymentInfo">
												<button type="button" class="btn btn-primary btn-sm">
													2. Payment Information</button>
											</a>
										</h4>
									</div>

									<div id="paymentInfo" class="collapse" data-parent="#accordion"
										th:classappend="${classActivePayment}? 'show active'">
										<div class="panel-body"
											style="border: 4px solid #007bff; border-radius: 25px; padding: 10px; box-shadow: 2px 30px 40px 0 #212529; width: 90%;">
											<table class="table" th:if="${not emptyPaymentList}">
												<thead>
													<tr>
														<th>Available Credit Card</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userPayment : ${userPaymentList}">
														<td th:text="${userPayment.cardName}"></td>
														<td><a
															th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">use
																this payment</a></td>
													</tr>
												</tbody>
											</table>

											<!-- Credit Card Information -->
											<div class="row">
												<div class="col-12">
													<img th:src="@{/others/images/creditcard.png}"
														class="img-responsive" /><br />
													<div class="form-group">
														<label for="cardType">* Select Card Type: </label> <select
															class="form-control-custom" id="cardType" name="type"
															th:value="${payment.type}" required="required">
															<option value="visa">Visa</option>
															<option value="mastercard">Mastercard</option>
															<option value="discover">Discover</option>
															<option value="amex">American Express</option>
														</select>
													</div>

													<div class="form-group">
														<label for="cardHolder">* Card Holder Name:</label> <input
															type="text" class="form-control" id="cardHolder"
															required="required" placeHolder="Card Holder Name"
															th:name="holderName" th:value="${payment.holderName}" />
													</div>
													<div class="form-group">
														<label for="cardNumber">* Card Number:</label>
														<div class="input-group">
															<input class="form-control" id="cardNumber"
																oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
																type="number" maxlength="16" required="required"
																placeHolder="Valid Card Number" th:name="cardNumber"
																th:value="${payment.cardNumber}" /> <span
																class="input-group-addon"><i
																class="fa fa-credit-card" aria-hidden="true"></i></span>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-7">
													<div class="form-group">
														<label>* Expiration Date</label>
														<div class="row">
															<div class="col-6">
																<select class="form-control-custom" name="expiryMonth"
																	required="required" th:value="${payment.expiryMonth}">
																	<option disabled="disabled">-- Month --</option>
																	<option value="01">Jan (01)</option>
																	<option value="02">Feb (02)</option>
																	<option value="03">Mar (03)</option>
																	<option value="04">Apr (04)</option>
																	<option value="05">May (05)</option>
																	<option value="06">June (06)</option>
																	<option value="07">July (07)</option>
																	<option value="08">Aug (08)</option>
																	<option value="09">Sep (09)</option>
																	<option value="10">Oct (10)</option>
																	<option value="11">Nov (11)</option>
																	<option value="12">Dec (12)</option>
																</select>
															</div>
															<div class="col-6">
																<select class="form-control-custom" name="expiryYear"
																	required="required" th:value="${payment.expiryYear}">
																	<option disabled="disabled">-- Year --</option>
																	<option value="2019">2019</option>
																	<option value="2020">2020</option>
																	<option value="21">2021</option>
																	<option value="22">2022</option>
																	<option value="23">2023</option>
																	<option value="23">2024</option>
																	<option value="23">2025</option>
																	<option value="23">2026</option>
																	<option value="23">2027</option>
																	<option value="23">2028</option>
																	<option value="23">2029</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-5">
													<div class="form-group">
														<label for="cardCVC">CV Code</label> <input id="cardCVC"
															oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
															type="number" maxlength="3" class="form-control"
															name="cvc" required="required" placeholder="CVC"
															th:name="cvc" th:value="${payment.cvc}" />
													</div>
												</div>
											</div>


											<!-- Billing Address -->
											<div class="form-group">
												<label for="billingName">* Name</label> <input type="text"
													class="form-control" id="billingName"
													placeholder="Receiver Name" th:name="billingAddressName"
													required="required"
													th:value="${billingAddress.billingAddressName}" />
											</div>
											<div class="form-group">
												<label for="billingAddress">* Street Address</label> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="Street Address 1"
													th:name="billingAddressStreet1" required="required"
													th:value="${billingAddress.billingAddressStreet1}" /> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="Street Address 2"
													th:name="billingAddressStreet2" required="required"
													th:value="${billingAddress.billingAddressStreet2}" />
											</div>

											<div class="row">
												<div class="col-4">
													<div class="form-group">
														<label for="billingCity">* City</label> <input type="text"
															class="form-control" id="billingCity"
															placeholder="Billing city" th:name="billingAddressCity"
															required="required"
															th:value="${billingAddress.billingAddressCity}" />
													</div>
												</div>
												<div class="col-4">
													<div class="form-group">
														<label for="billingState">* State</label> <select
															id="billingState" class="form-control-custom"
															th:name="billingAddress"
															th:value="${billingAddress.billingAddressState}"
															required="required">
															<option value="" disabled="disabled">Please
																select an option</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${billingAddress.billingAddressState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-4">
													<div class="form-group">
														<label for="billingZipcode">* Zipcode</label> <input
															class="form-control" id="billingZipcode"
															oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
															type="number" maxlength="6" placeholder="Billing Zipcode"
															th:name="billingAddressZipcode" required="required"
															th:value="${billingAddress.billingAddressZipcode}" />
													</div>
												</div>
											</div>

											<a data-toggle="collapse" data-parent="#accordion"
												class="btn btn-warning btn-sm" href="#reviewItems">Next</a>
										</div>
									</div>
								</div>

								<!-- 3. Review Items and Shipping -->
								<div class="panel panel-default" style="margin-top: 10px;">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" href="#reviewItems">
												<button type="button" class="btn btn-primary btn-sm">
													3. Review Items and Shipping</button>
											</a>
										</h4>
									</div>
									<div id="reviewItems" class="collapse" data-parent="#accordion">
										<div class="panel-body"
											style="border: 4px solid #007bff; border-radius: 25px; padding: 10px; width: 90%; box-shadow: 2px 30px 40px 0 #212529;">
											<h4>Choose your shipping method:</h4>
											<div class="radio">
												<label> <input type="radio" name="shippingMethod"
													value="groundShipping" checked="checked" /> Ground
													Shipping
												</label>
											</div>
											<div class="radio">
												<label> <input type="radio" name="shippingMethod"
													value="premiumShipping" /> Premium Shipping
												</label>
											</div>

											<div class="row">
												<div class="col-4 col-sm-8 col-md-8 col-lg-8">
													<h4>Products</h4>
												</div>
												<div class="col-3 col-sm-2 col-md-2 col-lg-2">
													<h4>Price</h4>
												</div>
												<div class="col-2 col-sm-2 col-md-2 col-lg-2">
													<h4>Quantity</h4>
												</div>
											</div>
											<hr
												style="height: 2px; border: none; color: #333; background-color: #333;" />
											<!-- display products in cart -->
											<div class="row" th:each="cartItem : ${cartItemList}">
												<hr
													style="height: 2px; border: none; color: #333; background-color: #333;" />
												<div class="col-2 col-sm-2 col-md-2 col-lg-2">
													<a th:href="@{/productDetail(id=${cartItem.product.id})}">
														<img class="img-responsive shelf-product"
														th:src="#{adminPath}+@{/others/images/product/}+${cartItem.product.id}+'.png'"
														style="width: 70px;" />
													</a>
												</div>
												<div class="col-6 col-sm-6 col-md-6 col-lg-6">
													<div style="margin-left: 50px;">
														<a th:href="@{/productDetail?id=}+${cartItem.product.id}"><h4
																th:text="${cartItem.product.title}"></h4></a>
														<p th:if="${cartItem.product.inStockNumber&gt;10}"
															style="color: green;">In Stock</p>
														<p
															th:if="${cartItem.product.inStockNumber&lt;10 and cartItem.product.inStockNumber&gt;0}"
															style="color: green;">
															Only <span th:text="${cartItem.product.inStockNumber}"></span>
															In Stock
														</p>
														<p th:if="${cartItem.product.inStockNumber==0}"
															style="color: darkred;">Product Unavailable</p>
														<a
															th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}"><button
																type="button" class="btn btn-danger btn-sm">Delete</button></a>
													</div>
												</div>

												<div class="col-2 col-sm-2 col-md-2 col-lg-2">
													<h5 style="color: #db3208; font-size: large;">
														₹<span
															th:text="${#numbers.formatDecimal(cartItem.product.ourPrice, 0, 'COMMA', 2, 'POINT')}"
															th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
													</h5>
												</div>

												<div class="col-2 col-sm-2 col-md-2 col-lg-2">
													<h5 style="font-size: large; text-align: center;"
														th:text="${cartItem.qty}"></h5>
												</div>

											</div>

											<hr
												style="height: 2px; border: none; color: #333; background-color: #333;" />
											<h4 class="col-12 text-right">
												<strong style="font-size: large;">Order Total (<span
													th:text="${#lists.size(cartItemList)}"></span> items):
												</strong> <span style="color: #db3208; font-szie: large;">₹<span
													th:text="${#numbers.formatDecimal(shoppingCart.grandTotal, 0, 'COMMA', 2, 'POINT')}"></span></span>
											</h4>
											<br />
											<button type="submit" class="btn btn-warning btn-block">Place
												your order</button>
											<p style="font-size: smaller; text-align: center;">
												By placing your order, you agree to SwagTech's <a href="#">privacy</a>
												notice and <a href="#">conditions</a> of use.
											</p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div th:replace="common/footer :: shared-footer"></div>

		<div th:replace="common/header :: bottom-scripts"></div>
	</div>
</body>

</html>