<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: shared-header">
</head>

<body>

	<div class="super_container">
		<!-- Header -->
		<div th:replace="common/header :: main-header"></div>

		<div
			style="background-image: url(/others/images/banner_2_background.jpg); min-height: 480px; background-repeat: round; background-attachment: fixed; background-size: auto;">
			<div class="row" style="padding-top: 50px; margin-bottom: 30px;">
				<div class="col-10 offset-1 col-sm-10  col-md-10 col-lg-10 ">
					<ul class="nav nav-pills" role="tablist">
						<li class="nav-item"><a class="nav-link active" href="#menu1"
							data-toggle="pill">Edit</a></li>
						<li class="nav-item"><a class="nav-link" href="#menu2"
							data-toggle="pill">Orders</a></li>
						<li class="nav-item"><a class="nav-link" href="#menu3"
							data-toggle="pill">Billing</a></li>
						<li class="nav-item"><a class="nav-link" href="#menu4"
							data-toggle="pill">Shipping</a></li>
					</ul>

					<div class="tab-content">

						<!-- Tab pane 1 -->
						<div id="menu1" class="tab-pane fade show active">
							<div class="panel-group">
								<div class="panel panel-default">
									<div class="panel-body"
										style="background-color: #ededed; margin-top: 20px; margin-bottom: 80px; padding: 20px; box-shadow: 2px 30px 70px 0 #212529;">
										<form th:action="@{/updateUserInfo}" method="post">
											<input type="hidden" name="id" th:value="${user.id}"></input>

											<div class="bg-info" th:if="${updateUserInfo}">User
												info updated.</div>

											<div class="form-group" style="margin-left: 15px;">
												<div class="row">
													<div class="col-xs-6">
														<label for="firstname">First Name:</label> <input
															type="text" class="form-control" id="firstname"
															name="firstName" th:value="${user.firstname}" />
													</div>
													<div class="col-xs-6" style="margin-left: 100px;">
														<label for="lastname">Last Name:</label> <input
															type="text" class="form-control" id="lastname"
															name="lastName" th:value="${user.lastname}" />
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="username">Username:</label> <input type="text"
													class="form-control" id="userName" name="username"
													th:value="${user.username}" />
											</div>
											<div class="form-group">
												<label for="currentPassword">Current Password:</label><input
													type="text" class="form-control" id="currentPassword"
													name="currentPassword" th:value="${currentPassword}" />
											</div>
											<p style="color: #828282">Enter your current password to
												change the email address or password.</p>

											<div class="form-group">
												<label for="email">* Email Address</label><input type="text"
													class="form-control" id="email" name="email"
													th:value="${user.email}" />
											</div>
											<p style="color: #828282">A valid email address. All
												emails from the system withll be sent to this address. The
												email address is not made public and will only be used if
												you wish to receive a new password or wish to receive
												certain notification.</p>

											<div class="form-group">
												<label for="txtNewPassword">Password</label> <input
													type="password" class="form-control" id="txtNewPassword"
													name="newPassword" />
											</div>

											<div class="form-group">
												<label for="txtConfirmPassword">Confirm Password</label><input
													type="password" class="form-control"
													id="txtConfirmPassword" />
											</div>
											<p style="color: #828282">To change the current user
												password, enter the new password in both fields.</p>

											<button type="submit" class="btn btn-primary">Save
												Account</button>
										</form>
									</div>
								</div>
							</div>
						</div>

						<!-- Tab pane 2-Order Information -->
						<div class="tab-pane fade" id="menu2"
							th:classappend="${classActiveEdit}? 'in active'">
							<div class="panel-group">
								<div class="panel panel-default" style="border: none;">
									<div class="panel-body"
										style="background-color: #ededed; margin-top: 20px; margin-bottom: 80px; padding: 20px; box-shadow: 2px 30px 70px 0 #212529;"></div>
								</div>
							</div>
						</div>

						<!-- Tab pane 3-Billing Information -->
						<div class="tab-pane fade" id="menu3"
							th:classappend="${classActiveEdit}? 'in active'">
							<div class="panel-group">
								<div class="panel panel-default" style="border: none;">
									<div class="panel-body"
										style="background-color: #ededed; margin-top: 20px; margin-bottom: 80px; padding: 20px; box-shadow: 2px 30px 70px 0 #212529;">
										<ol class="breadcrumb">
											<li class="breadcrumb-item active"><a
												th:href="@{/listOfCreditCard}"
												th:style="${listOfCreditCards}? 'color:red'">List of
													Credit Cards</a></li>
											<li class="breadcrumb-item active"><a
												th:href="@{/addNewCreditCard}"
												th:style="${addNewCreditCard}? 'color:red'">Add(Update)
													Credit Card</a></li>
										</ol>

										<div th:if="${listOfCreditCards}">
											<form th:action="@{/setDefaultPayment}" method="post">
												<table class="table">
													<thead>
														<tr>
															<th>Default</th>
															<th>Credit Card</th>
															<th>Operations</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="userPayment : ${userPaymentlist}">
															<td><input type="radio" name="defaultUserPaymentId"
																th:value="${userPayment.id}"
																th:checked="${userPayment.defaultPayment}" /></td>
															<td th:text="${userPayment.cardName}"></td>
															<td><a
																th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
																	class="fa fa-pencil"></i></a> <a
																th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
																	class="fa fa-times"></i></a></td>
														</tr>
													</tbody>
												</table>
												<button class="btn btn-primary" type="submit">Save</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div th:replace="common/footer :: shared-footer"></div>

		<div th:replace="common/header :: bottom-scripts"></div>
	</div>
</body>

</html>