<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: shared-header">
<title>SwagTech-Return Policies</title>
</head>
<body>
	<div th:replace="common/header :: main-header"></div>

	<div class="container" 
	style="margin-top: 30px;text-align: center; background-image: url(/others/images/banner_2_background.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover;">

		<b style="color: red; font-size: 2em;">SwagTech.com Return Policy</b><br/> <br/>Items shipped from SwagTech.com, including
		SwagTech Warehouse, can be returned within 30 days of receipt of
		shipment in most cases. Some products have different policies or
		requirements associated with them. SwagTech Global Store Return Policy
		Items can be returned within 30 days of receipt of delivery using the
		Online Returns Center. It can take up to 25 days for an item to reach
		us once you return it. Once the item is received at our fulfillment
		center, it takes 2 business days for the refund to be processed and
		3-5 business days for the refund amount to show up in your account.

		Your return label will require you to return the item at your own
		expense. SwagTech will automatically refund up to ₹20 for return postage
		costs on receipt of the item. If your return postage costs exceed ₹20,
		you may contact our Customer Service Center to request a refund of the
		remaining postage cost. If you return a defective, damaged or
		incorrect item, you’ll be refunded the full postage cost, as well as
		your Import Fees Deposit, once your return is processed. SwagTech Online
		Voice Shopping Non-digital products purchased using Online are eligible
		for free returns. To return a product purchased using Online, process
		your return as normal in the Returns Center. We'll automatically
		refund you any shipping charges applied to the return. You should see
		the shipping refund within 7 days of receiving your product refund. In
		addition, if you accidentally purchase a song or album from our
		Digital Music Store using Online, that purchase is eligible for return
		and refund if we receive your request within 7 days of the date of
		purchase. To request a refund, contact customer service. Seller Return
		Policy When you order from a seller that fulfills and ships its own
		inventory (also called a third party seller), your return is sent back
		to the seller instead of SwagTech.com. While most sellers offer a
		returns policy equivalent to SwagTech.com's, some seller returns
		policies may vary. You can view the return policy of the seller before
		you purchase an item by viewing the Returns and Refunds Policy section
		of the seller profile page. To view the seller's return policy, once
		you've ordered, you can select your order in the Online Returns
		Center. Third-party sellers must either provide a return address
		within the United States, provide a prepaid return label, or offer a
		full refund without requesting the item be returned. If a seller does
		not offer these methods to return your items, you may file an A-to-z
		Guarantee claim to seek help with your return. If you are sending the
		item within the United States and the order is valued at ₹100 or more,
		insure the shipment for the value of the merchandise and ship your
		return with a signature shipping service. Items valued over ₹35 must
		be returned to the seller with a trackable shipping service. For items
		below ₹35, we suggest USPS delivery confirmation service. If a package
		doesn't arrive and you don't use a trackable method to return or if
		you refuse the shipment as a method of return, we may not be able to
		cover you under the A-to-z Guarantee. Note: If the seller's listing is
		eligible for SwagTech Prime, it will be subject to the same return
		policies as items fulfilled by SwagTech.com that are outlined on this
		page.</div>

	<div th:replace="common/footer :: shared-footer"></div>

	<div th:replace="common/header :: bottom-scripts"></div>
</body>
</html>